@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 4px; /* Very thin scrollbar width */
    height: 4px; /* Thin horizontal scrollbar */
  }
  
  /* Style the track (the background part of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; /* Rounded corners for the track */
  }
  
  /* Style the thumb (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  /* Change thumb color on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  